<!DOCTYPE html>
<html>
<head>
    <title>Pok&eacute;mon EV Tracker</title>
    <style>
        .bordered {
            border: 2px solid black;
        }
    </style>
</head>
<body ng-app="evtracker">
    <h1>Pokemon EV Tracker</h1>
    <div ng-controller="pokemonController">
        <div class="loading">
            <h3>Loading...</h3>
        </div>
        <div class="tst" style="display: none;">

        <div class="pokelist" ng-repeat="x in id">
            <div class="bordered"><br />
                Nama:&nbsp; <input type="text" ng-change="updateName(x)" ng-model="name[x]" /><br /><br />
                Nature: <input type="text" ng-change="updateNature(x)" ng-model="nature[x]" /><br /><br />
            </div><br />
        </div>

        </div>
        <button add-pokemon name={{ name }} nature={{ nature }}>+ Add New Pok&eacute;mon</button>
    </div>

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
    <script src="app.js"></script>
</body>
</html>
